nav {
    font-family: 'Crimson Pro', serif;
}

#side-bar {
    font-family: 'Crimson Pro', serif;
}

#relaxation {
    font-family: 'Crimson Pro', serif;
}

footer {
    font-family: 'Montserrat', sans-serif;
}

#feedback {
    font-family: 'Crimson Pro', serif;
}